<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Vivu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!--=============== css  ===============-->
  <link type="text/css" rel="stylesheet" href="assets/css/reset.css">
  <link type="text/css" rel="stylesheet" href="assets/css/plugins.css">
  <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="assets/css/color.css">
  <!--=============== favicons ===============-->
  <link rel="shortcut icon" href="assets/images/favicon.ico">


  <script src="https://unpkg.com/vue@latest"></script>
  <!-- use the latest release -->
  <script src="https://unpkg.com/vue-select@latest"></script>
  <!-- or point to a specific release -->
  <script src="https://unpkg.com/vue-select@1.3.3"></script>
</head>
<body>
    <p>Layout here</p>
    <div id="app" style="display: none" class="wrapper">
        <div class="main-panel">
            <div class="content main-content">
                @RenderBody()
            </div>

            @*@Html.Partial("_Footer")*@
        </div>

    </div>
    @Scripts.Render("~/dist")
            <!--=============== scripts  ===============-->
      <script type="text/javascript" src="assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/plugins.js"></script>
      <script type="text/javascript" src="assets/js/scripts.js"></script>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEYHERE&libraries=places&callback=initAutocomplete"></script>  -->
      <script type="text/javascript" src="assets/js/map-single.js"></script>   
        <!-- From CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue-rangedate-picker@0.3.4/dist/vue-rangedate-picker.min.js"></script>
</body>
</html>
