<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Vivu</title>
</head>
<body>
    <div id="app" style="display:none" class="wrapper">
        <div class="main-panel">
            <div class="content main-content">
                @RenderBody()
            </div>

            @*@Html.Partial("_Footer")*@
        </div>

    </div>
    @Scripts.Render("~/dist")
</body>
</html>
